/* Site Color Swatches*/

/* .page-wrap {
  max-width: 1366px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.35);
  margin-top: -64px;
} */

/* Full navbar */
.full-width-nav {
  background-color: #7e9e99;
  border: solid 1px #387080;
  border-radius: 2%;
  position: fixed;
  height: 64px;
  width: 100%;
  display: flex;
  align-content: center;
}

/* Contains the Logo as well as the Search Bar */
/* .navBar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .logo {
  max-width: 56px;
  margin-right: 10px;
} */

.navBar__right {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__right-unauth {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.nav__link-container {
  color: var(--orange);
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 20px;
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  flex: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.nav-footer__row {
  font-size: 1.2em;
  flex-grow: .07;
}

.icon__spacer {
  padding: 0 8px;
}